{{extend 'layout.html'}}

<h1>Silwood Timetabler</h1>
	
<p>Welcome to the Silwood Masters course timetabler. This replaces the Excel spreadsheet 
	previously used to collect timetable information. Some immediate advatages:</p>
	
<ul>
	<li> The timetable data is kept in a proper relational database</li>
	<li> Descriptive text is entered into a sensible text box and not pasted within a cell</li>
	<li> Markdown syntax can now be used to format text (no more latex tags!)</li>
	<li> A drag and drop interface to add or reschedule module events</li>
	<li> Preview and download links for module data</li>
</ul>

<p>Look at the <a href="{{=URL('module_grid')}}">Module Grid</a> to see the layout of modules 
	across courses. This is transposed from the original Excel sheet but otherwise contains the 
	same information. Click on a module to go to the module view.</p>

<h2>Modules</h2>

<p>The module pages provide links:</p>

<p style='text-align:center'><b>
	<span style="margin:5px">Info</span> + 
	<span style="margin:5px">Events</span> = 
	<span style="margin:5px">HTML</span> &or; 
	<span style="margin:5px">Word</span> &or; 
	<span style="margin:5px">LaTeX</span>
</b>
</p>

<ul>
	<li> Edit the module <strong>information</strong> (the old module level tab)</li>
	<li> Edit, reschedule and create <strong>events</strong> within a module (the old day level tab)</li>
	<li> Create a live <strong>HTML</strong> view of the module information.</li>
	<li> Download a formatted <strong>Word</strong> document of the module information.</li>
	<li> Download a formatted <strong>LaTeX</strong> document of the module information.</li>
</ul>

<h2>Courses</h2>

<p>The courses menu item will take you to a list of courses and provides links to view the 
	module structure for a single course as a list. It also provides links to download the
	<i>entire</i> course timetable as Word or LaTeX.</p>

<p>There is also a <a href="{{=URL('room_grid')}}">Room Grid</a> that allows the room 
	allocations of events across a week to be viewed together.</p>



