{{extend 'layout.html'}}

<h1>Silwood Timetabler</h1>
	
<p>Welcome to the Silwood Masters course timetabler. This replaces the Excel spreadsheet 
	previously used to collect timetable information. Some immediate advatages:</p>
	
<ul>
	<li> The timetable data is kept in a proper relational database</li>
	<li> Descriptive text is entered into a sensible text box and not pasted within a cell</li>
	<li> Markdown syntax can now be used to format text (no more latex tags!)</li>
	<li> A drag and drop interface to add or reschedule module events</li>
	<li> Preview and download links for module data</li>
</ul>

<p>Look at the <a href='/test_fc/default/module_grid'>Module Grid</a> to see the layout of modules 
	across courses. This is transposed from the original Excel sheet but otherwise contains the 
	same information. Click on a module to go to the module view.</p>

<p>A module view provides links to also:</p>

<ul>
	<li> Edit the module <strong>information</strong> (the old module level tab)</li>
	<li> Edit, reschedule and create <strong>events</strong> within a module (the old day level tab)</li>
	<li> Create a live <strong>view</strong> of the module information.</li>
	<li> Download a formatted <strong>docx</strong> of the module information.</li>
</ul>

<p>There is also a <a href='/test_fc/default/room_grid'>Room Grid</a> that allows the room 
	allocations of events across a week to be viewed together.</p>



