{{extend 'layout.html'}}

{{block head}}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.1.0/locales-all.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.1.0/locales-all.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.1.0/main.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.1.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.1.0/main.min.css">

		<script>
			document.addEventListener('DOMContentLoaded', function() {

				// grab the start of the year to get week numbers from that
				var day_one = document.getElementById('year_data').getAttribute('day_one');
				var day_one = new Date(day_one);

				var Calendar = FullCalendar.Calendar;
				var calendarEl = document.getElementById('calendar');

				// initialize the calendar
				// -----------------------------------------------------------------

				var calendar = new Calendar(calendarEl, {
					headerToolbar: {
						left: false,
						center: false,
						right: false
					},
					views: {
						resourceTimeGridDay: {
							scrollTime: "01:00:00",
							slotMinTime: "01:00:00",
							slotMaxTime: "17:00:00",
							slotDuration: {
								minutes: 5
							},
							slotLabelInterval: {
								minutes: 20
							},
							allDaySlot: false,
							slotLabelFormat: {
								hour: 'numeric',
								minute: '2-digit',
								hour12: false
							},
						}
					},
					displayEventTime: false,
					editable: false,
					droppable: false, // this allows things to be dropped onto the calendar
					schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
					initialView: 'resourceTimeGridDay',
					eventSources: [{
						url: "{{=URL('call/json/get_modules')}}", // use the `url` property
						color: 'lightgrey', // an option!
						textColor: 'black', // an option!
						editable: true
					}],
					resources: "{{=URL('call/json/get_courses')}}",
				});
				calendar.render();

				Date.prototype.addDays = function(days) {
					var date = new Date(this.valueOf());
					date.setDate(date.getDate() + days);
					return date;
				}

				// Relabel the slots 
				const dateTimeFormat = new Intl.DateTimeFormat('en', {
					year: 'numeric',
					month: 'short',
					day: '2-digit'
				})

				slots = document.getElementsByClassName('fc-timegrid-slot-label-cushion')
				for (each_slot of slots) {
					var slot_time = each_slot.innerText
					slot_time = slot_time.split(':')
					slot_hour = parseInt(slot_time[0])
					slot_min = parseInt(slot_time[1])
					week = (slot_hour - 1) * 3 + (slot_min / 20) + 1
					week_monday_date = day_one.addDays((week - 1) * 7)
					const [{
						value: month
					}, , {
						value: day
					}, , {
						value: year
					}] = dateTimeFormat.formatToParts(week_monday_date)
					each_slot.innerText = 'Week ' + week + '\n' + `${day}-${month}-${year }`
				}
			});

		</script>
{{end}}
{{=year_data}}

<H2>Course Module Grid</H2>

<p>Module colours are arbitrary and are simply to make it easier to pick out shared modules across the grid.</p>
<div id='calendar'></div>

