# ignore error reports
errors/

# ignore session details
sessions/

# ignore database definitions
databases/*
!databases/.gitkeep

# ignore the uploads folder
uploads/

# ignore the languages folder
languages/

# mac folder junk
.DS_Store

# byte compliled python
*.pyc

# backup files
*.bak

# anonymous R files
.Rdata
.Rapp.history

# Ignore private except for the appconfig template
private/*
!private/appconfig_template.ini

# cache folders
__pycache__/
*/__pycache__/

# dynamically generated module descriptions - keep the template but nothing else
static/module_docx/*
!static/module_docx/docx_template.docx
