{{extend 'layout.html'}}

<h1>
    Teaching staff
</h1>

<p>
    This table shows all of the staff that have ever been associated with Masters
    teaching, project supervision or marking. You can edit staff members to update
    email addresses - people often carry on working with us after changing institution -
    and any other details.

    There are three flags associated with teaching staff:

    <ul>
        <li><strong>Can Supervise</strong>: Only staff with this flag set are allowed to
        create, advertise and then supervise research projects.

        </li>
        <li><strong>Is Internal</strong>: Only staff with  this flag set can sole
        supervise research projects. External supervisors must have an internal
        supervisor supporting the project.
        </li>
        <li><strong>Is Active</strong>: You <strong>cannot delete</strong> members of
        staff - they will likely be associated with previous teaching and marking in the
        database - but you can mark them as inactive, which will hide them from view for
        most users.
        </li>

    </ul>


{{=form}}