{{extend 'layout.html'}}

<h2>Download integrated timetable</h2>

<p>Select courses in the table below and then click on one of the format options buttons
to download a document containing an integrated timetable. The sections are:</p>

<ul>
<li>A <strong>course listing</strong> section, containing a table of the selected
courses.</li>
<li>Course specific <strong>module overviews</strong>, containing tables in date order
of the modules making up each of the selected courses.</li>
<li>Finally, an integrated <strong>module listing</strong>. Each module across the
selected courses is included, giving the module overview and individual events</li>
</ul>

<p>This is a long document. To help navigate, the document contain hyperlinks that link
from the course listing table to module overviews and then on to each individual
module.</p>

{{=form}}