<html>
<p>Dear {{=first_name}},</p>

<p>
	You have been nominated by {{=lead_supervisor}} as an internal supervisor for 
	a Masters project with the title {{=title}}. The full project details can be seen
	<a href={{=proj_url}}>here.</a>
</p>

<p>
	The external supervisor and/or a student interested in this proposal should already have 
	contacted you about this project and this step is just to confirm that you agree to
	support this project as the internal supervisor.
</p>
	
	<ul><li> Click on this link to <a href={{=agree_url}}>Agree</a></li></ul>

<p>
	If you are not prepared to act as internal supervisor, please click on the link below. Please 
	do also reply all to this email and briefly explain why you cannot act as an internal.
</p>


	<ul><li> Click on this link to <a href={{=disagree_url}}>Disagree</a></li></ul>
	
<p>
	Once a student has been accepted, they will also be responsible for completing a detailed
	proposal, and you and the external will need to sign off on this.
</p>

<p>Many thanks</p>

Masters Course Coordinators</br>
Department of Life Sciences</br>
Imperial College London</br>
Silwood Park,</br>
Ascot, </br>
Berkshire</br>
SL5 7PY</br>
</html>
