<html>
<p>Dear {{=first_name}},</p>

<p>A request has been made to access your project and marking details on the Silwood 
	Masters website. If this was you, then you can use the links below to access:
</p>

<ul>
	<li><a href={{=home_link}}>Your staff home page</a></li>
	<li><a href={{=myprj_link}}>Your projects</a> to review and create projects and accept students on to a project</li> 
	<li><a href={{=mymrk_link}}>Your marking</a> to review and complete marking when needed.</li> 
</ul>

<p>If this was not you, <strong>please</strong> email 
	<a href='mailto:silwood.masters.imperial.ac.uk'> silwood.masters.imperial.ac.uk</a> 
	and let us know that this has happened.
</p>

<p>Thanks again for your hard work,</p>

Masters Course Coordinators</br>
Department of Life Sciences</br>
Imperial College London</br>
Silwood Park,</br>
Ascot, </br>
Berkshire</br>
SL5 7PY</br>
</html>
