<html>
<p>Dear {{=name}},</p>

<p>A request has been made to access a marking report assigned to you. If this was you, 
	enter the code below to access your marking. 
</p>

{{=code}}

<p>If this was not you, <strong>please</strong> email <a href='mailto:silwood.masters.imperial.ac.uk'>
	silwood.masters.imperial.ac.uk</a> and let us know that this has happened.
</p>

<p>Thanks again for your hard work,</p>

Masters Course Coordinators</br>
Department of Life Sciences</br>
Imperial College London</br>
Silwood Park,</br>
Ascot, </br>
Berkshire</br>
SL5 7PY</br>
</html>
