<html>
<p>Dear {{=name}},</p>

<p>Many thanks in advance for marking and assessing projects for the Silwood Masters programs. We 
	use an <a href="https://silwoodmasters.info"> online system</a> to submit assessment reports 
	and we strongly recommend that you quickly review the following:</p>

{{=P(A('Assessment overview and guidance', _href=URL('marking_reports', 'help', scheme=True, host=True)))}}

<p>In particular, please pay attention to the statements on:</p>

<ul><li>unconscious bias and</li>
	<li>open assessment.</li>
</ul>
	
<p>If you are a project marker, your assigned marking will also include marking a research 
	presentation and the project viva. Please do pay attention to the different assessment types, 
	described in the link above.</p>
	
<p> You view the details of marking assignments at your {{=A('My Assignments', _href=my_assignments_url)}} 
	page, which provides an summary table, along with status icons so that you can track which
	have been completed. You can view the marking form for each assignment from that table. The
	marking criteria will be linked from each form along with any files to be marked as they 
	become available.
 </p>

<p>When you access your assignments or any marking forms, you will also be asked for an 
	authentication code which will be emailed to you. This additional step will only be required
	once per session.  However, to help keep the system secure <b style='color:red'> do not forward 
	this email to anyone else!</b></p>

<p>The summary below shows the number of each kind of report that still need to be submitted:</p>

{{=TABLE(reports_to_submit, _class='table table-striped')}} 

<p>Thanks again for your hard work,</p>

Masters Course Coordinators</br>
Department of Life Sciences</br>
Imperial College London</br>
Silwood Park,</br>
Ascot, </br>
Berkshire</br>
SL5 7PY</br>
</html>
