<html>
<p>Dear {{=name}},</p>

<p>Many thanks in advance for marking and assessing projects for the Silwood Masters programs. We 
	use an <a href="https://silwoodmasters.info"> online system</a> to submit assessment reports 
	and we strongly recommend that you quickly review the following:</p>

{{=P(A('Assessment overview and guidance', _href=URL('marking_reports', 'help', scheme=True, host=True)))}}

<p>In particular, please pay attention to the statements on:</p>

<ul><li>unconscious bias,</li>
	<li>open assessment and</li>
	<li>handling COVID-19 impacts</li>
</ul>
	
<p>If you are a project marker, your assigned marking will also include marking a research 
	presentation and the project viva. Please do pay attention to the different assessment types, 
	described in the link above.</p>

<p> You view all your marking assignments at your {{=A('My Assignments', _href=my_assignments_url)}} 
	page, which provides an summary table, along with status icons so that you can track which
	have been completed. You can view the marking form for each assignment from that table, along
	with the marking criteria and the files to be marked.
 </p>

<p>A pdf version of each student's 
	dissertation report can be found <a href = {{=configuration.get('report_drive.link')}}>here</a>.</p>

<p>Please note that the link to your My Assignments page contain a security token to allow access.
	When you access your assignments, you will also be asked for an authentication code which will 
	be emailed to you. However, to help keep the system secure <b style='color:red'> do not forward
	this email to anyone else!</b></p>

<p>Thanks again for your hard work,</p>

Masters Course Coordinators</br>
Department of Life Sciences</br>
Imperial College London</br>
Silwood Park,</br>
Ascot, </br>
Berkshire</br>
SL5 7PY</br>
</html>
