<html>
<p>Dear {{=name}},</p>

<p>Many thanks in advance for marking and assessing projects for the Silwood Masters programs. We use an <a href="https://silwoodmasters.info"> online system</a> to submit assessment reports and we strongly recommend that you quickly review the following:</p>

{{=P(A('Assessment overview and guidance', _href=URL('marking_reports', 'help', scheme=True, host=True)))}}

<p>In particular, please pay attention to the statements on:</p>

<ul><li>unconscious bias,</li>
	<li>open assessment and</li>
	<li>handling COVID-19 impacts</li>
</ul>
	
<p>If you are a project marker, you will be sent links not just to assessments of the project report but also the research presentation and project viva. Please do pay attention to the different assessment types, described in the link above.</p>

<p>Links to each of the assessments you need to complete are below. The details shows the type of assessment and each link will take you directly to a personalised marking sheet for each assessment you have been assigned. This includes a link to the marking assessment criteria for you to follow in preparing your report. A pdf version of each student's dissertation report can be found <a href = {{=configuration.get('report_drive.link')}}>here</a>.</p>

{{=XML(links)}}

<p>Please note that each of the above assessment links contain a security token that will allow anyone to access it. Therefore, <b style='color:red'> do not forward this email to anyone else!</b></p>

<p>Thanks again for your hard work,</p>

Masters Course Coordinators</br>
Department of Life Sciences</br>
Imperial College London</br>
Silwood Park,</br>
Ascot, </br>
Berkshire</br>
SL5 7PY</br>
</html>
