<html>
<p>Dear {{=name}},</p>

<p>Many thanks in submitting your research project proposal "{{=title}}" to the Silwood Masters programs.</p>

<p>The project proposal will be visible to students from all courses, but they are strongly encouraged to pay close attention to any restrictions or requirements on project suitability.</p>

<p><strong>Filled projects:</strong> The details of all projects are always visible, but you can mark a project proposal as filled, to reduce your email. Click on the link below to toggle the project availability - you can click this link again if you need a new candidate.</p>

<p><a href={{=fill_link}}>Toggle project availability</a></p>

<p>Thanks again for your proposal. We hope the project goes well and produces useful science!</p>

Masters Course Coordinators</br>
Department of Life Sciences</br>
Imperial College London</br>
Silwood Park,</br>
Ascot, </br>
Berkshire</br>
SL5 7PY</br>
</html>
