<html>
<p>Dear {{=name}},</p>

<p>You will find a list of links to your project grading reports below.</p>

<p>Remember that these comments were written before the viva and you may have cleared up some of the questions during the viva! Like reviewer comments on papers, comments do also tend to dwell on problems, so can seem negative and can sometimes be briefer than you'd like. Do also note that we do not provide grades for individual components of project marking - you will get an overall grade for the entire project separately.</p> 

<p>Don't take this to heart: marker reports are intended to give you a set of comments which you can use to help polish your report and supervisor reports are intended to provide constructive criticism on your research practice.</p>

{{=XML(links)}}

<p>Best wishes,</p>

Masters Course Coordinators</br>
Division of Biology</br>
Silwood Park,</br>
Ascot, </br>
Berkshire</br>
SL5 7PY</br>
</html>

