{{extend 'layout.html'}}

<h2>External projects</h2>

<p>
	Masters students often follow research projects with a lead supervisor at an institution 
	external to Imperial College London and the Natural History Museum. These external proposals 
	are an important part of the research project ecosystem and allow us to offer a really wide
	range of topics to support different student interests.
</p>

<p>
	However, we do need to be sure that students following external projects get the expected
	quality of suppport for their project and that all the processes and regulations are followed
	correctly. Therefore <strong>every external project must have an agreed internal 
	supervisor</strong> before a student can start an external project.
</p>

<p>
	An internal supervisor for an external project will not <strong>necessarily </strong> play a
	major role in project supervision, although they often do. Their main role is to provide 
	oversight of the progress of the project and ensure that regulations and processes are being
	followed. The process to start a project with an external supervisor is shown below.
</p>

<h3>External project workflow</h3>

<ul>
	<li>
		Approved staff at external institutions will be able to post project proposals on to
		the projects database. Proposals can be posted and seen without an internal supervisor
		being named.
	</li>
	<li>
		If you are interested in an externally-supervised project, you should talk to your Course
		Director about the host institution and how external projects typically work.
	</li>
	<li>
		Contact the external lead supervisor to say you are interested and to find out more about
		the project.
	</li>
	<li>
		If you and the external supervisor want to take the project forward, you <strong>must 
		identify an internal supervisor</strong>. The external supervisor may have suggestions,
		but the student typically approaches internal supervisors: you can point them to the 
		project page!
	</li>
	<li>
		Once a member of staff has agreed to act as an internal, the external supervisor will 
		need to <strong>update the project details</strong> to add them to the project. 
	</li>
	<li>The internal will get a notification that they have been added to a project, and will
		have to review and accept the project.
	</li>
	<li>
		Once the internal has accepted the external supervisor can <strong>update the project 
		details to accept you onto the project</strong>.
	</li>
</ul>
		
