{{extend 'layout.html'}}

<h2>Silwood and NHM Masters Project proposals</h2>

<p>
	This is a <strong>live list</strong> of projects proposals put forward by staff at Silwood and the NHM 
	as well as staff elsewhere at Imperial College London and at other external project 
	partners. Supervisors will continue to add projects to this list throughout the first 
	few months of the courses, so do keep checking back!
</p>

<h4>Project details</h4>

<p>
	The info links (<SPAN class="fa fa-info-circle" style='font-size: 1.em;' title='See details'></SPAN>)
	will take you to the details of a particular project. You can also use <strong>the search box </strong>:
	simply enter some text and press Search to do a free text search. If you want to search more 
	finely, the pop up search options allow you to search on particular details of the project descriptions.
</p>

<h4>External projects</h4>
<p>
	While many project proposals are lead by internal supervisors at Imperial College London or 
	the Natural History Museum (
		<SPAN class="fa fa-home" style='font-size: 1.em' title='See details'></SPAN> 
	), some projects are lead by supervisors at external institutions (
		<SPAN class="fa fa-external-link" style='font-size: 1.em;' title='See details'></SPAN>
	). If you are interested in one of these projects, please read <a href='external_projects'>
	this extra information</a> about external projects.
</p>

<h4>Open and filled projects</h4>

<p>
	The list shows both open projects (
		<SPAN class="fa fa-users" style='font-size: 1.em; color: green;' title='Open'></SPAN>	
	) and filled projects (
		<SPAN class="fa fa-user" style='font-size: 1.em; color: red;' title='Open'></SPAN>	
	), where a supervisor has already accepted a student onto a project. If you are particularly 
	interested in the topic, it is worth contacting the supervisor to see if they can
	offer other similar projects but you should not expect this to be possible.
</p>



{{=grid}}
