{{extend 'layout.html'}}

<h2>Silwood and NHM Masters Project proposals</h2>

<p>Welcome to the Silwood and NHM Masters project proposal database.</p>

<p>
	This is a live list of projects proposals put forward by staff at Silwood and the NHM 
	as well as staff elsewhere at Imperial College London and at other external project 
	partners. Supervisors will continue to add projects to this list throughout the first 
	few months of the courses, so do keep checking back!
</p>

<p>
	When a supervisor accepts a student onto a project, the proposal will still appear in 
	this list, but the project will be shown as <strong>filled</strong>. If you are particularly 
	interested in the topic, it is worth contacting the supervisor to see if they can
	offer other similar projects but you should not expect this to be possible.
</p>

<p>	
	You can search the projects using the box below: simply enter some text and press Search 
	to do a free text search. If you want to search more finely, the search tool also allows you 
	to search on particular details of the project descriptions: you will see these finer search 
	options appear if you click on the search box.
</p>

<p>
	Click on the view button next to a project to get the full proposal description. If you
	want to download project details, either for all projects, or for a subset you have searched 
	for, then click on the 'Download details' button.
</p>


{{=grid}}
