{{extend 'layout.html'}}

<h2>Project Allocations</h2>

<p>
	This page shows the current allocation of projects to the coursework presentations for all 
	students. The search options can be used to look at particular subsets and the preset links
	below zoom to coursework presentations for current students. Downloaded records from this page
	can be used to <strong>add marking assignments</strong> back into the system. See the
	<a href={{URL('marking','load_assignments')}}>load assignments</a> page for details.
</p>

{{=presets}}

</br></br>

{{=form}}
