{{extend 'layout.html'}}


<H2>Projects at Silwood</H2>

<p>
	Welcome to the project management website for Masters courses at the Silwood
	Park campus of Imperial College London. This page provides an overview of the
	courses covered and their project structures. More details of the courses can
	be <a href=https://www.imperial.ac.uk/silwood-park/prospective-students/msc-and-mres-courses>
		found here</a>.
</p>

<p>The courses are the Master of Science courses in:</p>
<ul>
	<li>Living Planet with Ecological Applications</li>
	<li>Living Planet with Computational Methods in Ecology and Evolution</li>
	<li>Living Planet with Ecology, Evolution and Conservation</li>
	<li>Taxonomy, Biodiversity and Evolution (NHM)</li>
</ul>

<p>and the Master of Research courses in:</p>
<ul>
	<li>Living Planet with Ecology, Evolution and Conservation</li>
	<li>Living Planet with Computational Methods in Ecology and Evolution</li>
	<li>Living Planet with Ecosystems and Environmental Change</li>
	<li>Biosystematics (NHM)</li>
</ul>


<p>
	Masters students from both Silwood and the NHM will access project proposals on this
	site. The structure of projects varies between courses as shown in the table below
	but broadly the MSc courses have a single five month project and the MRes courses
	have single 8 month project. The exception is the MRes in Biosystematics, which has
	two 4 month projects.
</p>
<br>

<div style="text-align:center;">
	{{=IMG(_src=URL("static", "images/project_overview.jpg"))}}
</div>