{{extend 'layout.html'}}

{{=header}}

<p>
	Your login authorisation has been accepted and you can now access projects and marking 
	on this system. The Staff menu above provides links to your options, but these are:
</p>

<ul>
	<li><strong>My marking</strong>: View your marking assignments</li>
	<li><strong>My projects</strong>: View your projects, including open proposals and current and 
		past filled projects.</li>
	<li><strong>Create project</strong>: Create a new project proposal</li>
</ul>

