{{extend 'layout.html'}}

<h2>Request Staff Access</h2>

<p>
	Staff involved in student project supervision and project marking can use this form
	to request access to their projects and marking records. Enter your email below and
	an email will be sent to that address containing a login link. These login links need
	to be used within an hour. 
</p>

<p>
	Note that you need to be both in the system and approved to propose and supervise projects 
	before you will be given access. If your email is not recognised or you have not yet been
	approved, please  <a href='mailto:silwood.masters@imperial.ac.uk'>email us</a>.
</p>


{{=form}}
