{{extend 'layout.html'}}

<h2>Staff Login</h2>

<p>
	Staff involved in student project supervision and project marking can use this form
	to log in to see their projects and marking records. We do not use a password based
	system - when you enter your email, you will be sent an email containing links to 
	your projects and marking. These links are protected by a unique 256 bit token, which
	need to be used within an hour. 
</p>

<p>
	Note that you need to be both in our staff directory and have been given access to
	propose and supervise projects before to see these records. Please 
	<a href='mailto:silwood.masters@imperial.ac.uk'>email us</a> if:
	<ul>
	 <li>
		your email is not recognised or,
	</li>
	<li> 
		you have changed your email address (for example, a move to a new institution), or	
	</li>
	<li>
		you have not yet been given access.
	</li>
	</ul>

</p>


{{=form}}
