{{extend 'layout.html'}}

<h2>Staff Login</h2>

<p>
	Staff involved in student project supervision and project marking can use
	this form to log in to see their projects and marking records. We do not use
	a password based system - when you <strong> enter your email</strong>, you
	will be sent an email containing links to your projects and marking. These
	links are protected by a unique 256 bit token, which need to be used within
	an hour. 
</p>

<p>
	If your email is not recognised, please check the details on 
	{{=A('this page', _href=URL('staff','proposing_projects'))}} on how to get
	approval to propose and supervise projects.
</p>


{{=form}}
