{{extend 'layout.html'}}

<h2>Marking assignments</h2>

<p>The table below shows all the assignments created on the system along with their current 
	status. Authorised users can use the view links to look at and edit reports: this ability 
	is needed to fix problems or moderate reports. Each assignment has one of the following 
	status indicators.
</p>

<TABLE class='table'>
	<TR>
		<TD>
			{{=status_dict['Created']}}
		</TD>
		<TD>
			<strong>Created</strong>. When new assignments are <A href={{=URL('new_assignment')}}>
			created</A> or <A href={{=URL('load_assignments')}}>uploaded</A>, they are given this 
			status. This gives coordinators a chance to check assignments before they are sent to
			markers and supervisors. Once assignments have been checked, you can select a set of 
			them and then click <strong>Send To Markers</strong> to automatically distribute 
			marking links.
		</TD>
	</TR>
	<TR>
		<TD>
			{{=status_dict['Not started']}}
		</TD>
		<TD>
			<strong>'Not started</strong>. These assignments have been distributed to their marker
			but no marking data has yet been entered. You can re-use the <strong>Send To 
			Markers</strong> option to send reminders to markers about reports that are not yet 
			started or have not been completed: the system will not remind markers about submitted 
			reports.
		</TD>
	</TR>
	<TR>
		<TD>
			{{=status_dict['Started']}}
		</TD>
		<TD>
			<strong>Started</strong>. The marker has entered some marking data and saved their
			progress but the report has not yet been submitted.
		</TD>
	</TR>
	<TR>
		<TD>
			{{=status_dict['Submitted']}}
		</TD>
		<TD>
			<strong>Submitted</strong>. The marker has completed their report and submitted it.
		</TD>
	</TR>
	<TR>
		<TD>
			{{=status_dict['Released']}}
		</TD>
		<TD>
			<strong>Released</strong>. Once reports have been submitted, you can select rows
			and click <strong>Release To Students</strong> to email the students with their 
			reports. They will receive an email containing a set of links that will allow them
			to download a PDF of the report, excluding any confidential report fields. The system 
			will only release submitted and previously released reports, so you can resend links
			but not accidentally release partial reports.
		</TD>
	</TR>
</TABLE>

<h5>Other actions</h5>

<p>At any point, you can select rows and click <strong>Download Confidential PDFs</strong> or 
	<strong>Download Public PDFs</strong> to create and download PDF reports for a set of students. 
	You will get a zipfile of the reports - note that only completed reports will be included.
</p>

<p>You can also select rows and click <strong>Download Grades</strong> to download an Excel file 
	of compiled grades for a set of students. Grades for uncompleted reports will be shown as 
	missing.
</p>

<h5>Current and old reports</h5>

<p>By default, this page only shows records from the most current academic year, but you can 
	click on <a href={{=URL('assignments_old', vars=dict(request.vars, **{'all': ''}))}}>this link</a> 
	show all records. There are {{=old_count}} reports from previous years, so these may take a 
	while to load.
</p>

{{=form}}