{{extend 'layout.html'}}

<h2>
	Marking Role details
</h2>

<p>
	The grid below shows the marking roles created on the system. Each role links a
	unique marking role name to the marking criteria and a JSON file containing a
	definition of the form to be used in marking for the role.
</p>
<p>
	To create a new marker role, follow
	<a href="{{=URL('marking', 'marking_role_details')}}">this link</a>,
	but note that creating a new role usually requires the creation of a new form
	definition.

</p>


{{=form}}