{{extend 'layout.html'}}

{{=H2('View marking assignments')}}

<p>This page shows the assignments of markers to submitted coursework. Please read the 
	following important points:
</p>

<div class='alert alert-info'>
<ul style='margin-bottom: 0;'>
	<li>This information is simply so that you know who you will see in your viva.
	</li>
	<li>You <strong>must not contact your markers</strong> in advance of the viva. If there are 
		issues with your project or mitigating circumstances that you want to raise, then you 
		should contact your course director or the postgraduate tutor as appropriate.
	</li>
	<li>These are <strong>provisional assignments</strong>: we do occasionally have to replace 
		markers at short notice.
	</li>
</ul>
</div>

{{=form}}